In [1]:
import pandas as pd
import numpy as np

In [1]:


columns = ['a', 'b', 'c', 'd', 'e']
data = np.arange(20).reshape(5, 4) % 2
data[2, 1] = 0
df = pd.DataFrame(columns=columns, data=data)
df['d'] = None

In [2]:
df

   a  b  c     d
0  0  1  0  None
1  1  0  1  None
2  0  0  0  None

In [3]:
df['d'] = any(df.loc[:, ['a', 'b', 'c']])

In [4]:
df['d']

0    True
1    True
2    True
Name: d, dtype: bool

In [5]:
df['d'] = df.loc[:, ['a', 'b', 'c']].sum(axis=1) > 0

In [6]:
columns = ['a', 'b', 'c']
data = np.arange(9).reshape(3, 3) % 2
data[2, 1] = 0
df = pd.DataFrame(columns=columns, data=data)

In [7]:
df

   a  b  c
0  0  1  0
1  1  0  1
2  0  0  0

In [8]:
df['d'] = df.loc[:, ['a', 'b', 'c']].sum(axis=1) > 0

In [9]:
df

   a  b  c      d
0  0  1  0   True
1  1  0  1   True
2  0  0  0  False

In [21]:
df = pd.DataFrame(np.array([['father', 'mother', 'friends', 'pop'], 
                            ['not selected', 'not selected', 'not selected', 'not selected'], 
                            ['father', 'not selected', 'not selected', 'pop'], 
                            ['father', 'not selected', 'friends', 'not selected']]), columns = ['source_father', 'source_mother', 'source_friends', 'source_pop'])

In [22]:
df

  source_father source_mother source_friends    source_pop
0        father        mother        friends           pop
1  not selected  not selected   not selected  not selected
2        father  not selected   not selected           pop
3        father  not selected        friends  not selected

In [24]:
df['source_father']

0          father
1    not selected
2          father
3          father
Name: source_father, dtype: object

In [25]:
df['source_father'][1]

'not selected'

In [17]:
cols = ['source_father', 'source_mother', 'source_friends', 'source_pop']

In [9]:
df[cols].map({'not_selected': 0})

AttributeError: 'DataFrame' object has no attribute 'map'

In [18]:
for col in cols:
    df[col] = df[col].map({'not selected': 0})

In [19]:
df

   source_father  source_mother  source_friends  source_pop
0            NaN            NaN             NaN         NaN
1            0.0            0.0             0.0         0.0
2            NaN            0.0             0.0         NaN
3            NaN            0.0             NaN         0.0

In [20]:
df[cols].fillna(1)

   source_father  source_mother  source_friends  source_pop
0            1.0            1.0             1.0         1.0
1            0.0            0.0             0.0         0.0
2            1.0            0.0             0.0         1.0
3            1.0            0.0             1.0         0.0