In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [109]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression

In [110]:
responses = pd.read_excel('masculinity-responses-renamed.xlsx')

In [3]:
responses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1615 entries, 1 to 1615
Data columns (total 97 columns):
StartDate                    1615 non-null datetime64[ns]
EndDate                      1615 non-null datetime64[ns]
self_manly                   1615 non-null object
others_manly                 1615 non-null object
source_ideas_father          1615 non-null object
source_ideas_mother          1615 non-null object
source_ideas_family          1615 non-null object
source_ideas_popculture      1615 non-null object
source_ideas_friends         1615 non-null object
source_ideas_other           1615 non-null object
societal_pressure            1615 non-null object
prof_advice                  1615 non-null object
personal_advice              1615 non-null object
phys_aff                     1615 non-null object
cry                          1615 non-null object
phys_fight                   1615 non-null object
sex_women                    1615 non-null object
sex_men                      1615 non-null object
sports                       1615 non-null object
workout                      1615 non-null object
therapist                    1615 non-null object
lonely                       1615 non-null object
worry_height                 1615 non-null object
worry_weight                 1615 non-null object
worry_hair                   1615 non-null object
worry_physique               1615 non-null object
worry_genitalia              1615 non-null object
worry_style                  1615 non-null object
worry_sex                    1615 non-null object
worry_mental_health          1615 non-null object
worry_phys_health            1615 non-null object
worry_finances               1615 non-null object
worry_provide                1615 non-null object
no_worries                   1615 non-null object
Employment                   1615 non-null object
men_earn_more                880 non-null object
men_taken_serious            880 non-null object
men_more_choice              880 non-null object
men_more_promo               880 non-null object
men_more_praise              880 non-null object
men_more_support             880 non-null object
no_male_advantages           880 non-null object
men_advantage_other          880 non-null object
hire_women                   880 non-null object
sex_harass                   880 non-null object
sexist_racist                880 non-null object
men_disadvantage_none        880 non-null object
men_disadvantage_other       880 non-null object
harass_confront              880 non-null object
harass_HR                    880 non-null object
harass_manager               880 non-null object
harass_support               880 non-null object
harass_no_response           880 non-null object
harass_never_seen            880 non-null object
harass_other                 880 non-null object
harass_no_response_reason    49 non-null object
me_too_awareness             880 non-null object
me_too_work_behavior         742 non-null object
first_move                   1615 non-null object
pay_date                     1615 non-null object
pay_right_thing              1251 non-null object
pay_make_more                1251 non-null object
pay_feel_good                1251 non-null object
pay_expectation              1251 non-null object
pay_initiator_obligation     1251 non-null object
pay_test_share               1251 non-null object
pay_other                    1251 non-null object
int_body_lang                1615 non-null object
int_verb_conf                1615 non-null object
int_phys_move                1615 non-null object
int_diff_sit                 1615 non-null object
int_unclear                  1615 non-null object
int_other                    1615 non-null object
bound_wonder                 1615 non-null object
bound_talk                   1615 non-null object
bound_contact                1615 non-null object
bound_none                   1615 non-null object
me_too_romantic_behavior     1615 non-null object
marital_status               1615 non-null object
children_u18                 1615 non-null object
children_18+                 1615 non-null object
children_none                1615 non-null object
orientation                  1615 non-null object
race                         1615 non-null object
education                    1615 non-null object
state                        1615 non-null object
income                       1613 non-null object
region                       1595 non-null object
device                       1613 non-null object
race2                        1615 non-null object
racethn4                     1615 non-null object
educ3                        1615 non-null object
educ4                        1615 non-null object
age3                         1615 non-null object
kids                         1606 non-null object
orientation.1                1615 non-null object
weight                       1615 non-null float64
dtypes: datetime64[ns](2), float64(1), object(94)
memory usage: 1.2+ MB

In [4]:
responses.shape

(1615, 97)

Here is the breakdown of answers to the first question: 
>In general, how masculine or 'manly' do you feel?

In [6]:
responses['self_manly'].value_counts()

Somewhat masculine      826
Very masculine          612
Not very masculine      131
Not at all masculine     32
No answer                14
Name: self_manly, dtype: int64

In [111]:
responses = responses[responses.self_manly != 'No answer']

I also needed to decide how to make these parseable- should I map each response to a numeric value, or create dummy columns? 
<br>The response options were on a graded scale, from 'Not at all' to 'Very', so I decided to map to numeric values (0-3)

In [112]:
responses['self_manly'] = responses['self_manly'].map({'Not at all masculine':0, 
                                                       'Not very masculine':1, 
                                                       'Somewhat masculine':2,
                                                        'Very masculine': 3})

Limitations of dataset:
Only 1615 responses, collected in what is likely a non-representative sample of the population of men in the US
Show distribution of age, race, region, orientation answers?

### Can the race, sexual orientation, age range and region of the respondent predict how masculine they feel?

In [115]:
responses = responses[['race', 'orientation.1', 'age3', 'region', 'self_manly']]

In [116]:
responses.shape

(1601, 5)

In [43]:
responses[['race', 'orientation.1', 'age3', 'region']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1601 entries, 1 to 1615
Data columns (total 4 columns):
race             1601 non-null object
orientation.1    1601 non-null object
age3             1601 non-null object
region           1581 non-null object
dtypes: object(4)
memory usage: 142.5+ KB

In [13]:
responses['race'].value_counts()

White       1340
Other         83
Hispanic      71
Black         71
Asian         36
Name: race, dtype: int64

In [14]:
responses['orientation.1'].value_counts()

Straight        1396
Gay/Bisexual     162
Other             31
No answer         12
Name: orientation.1, dtype: int64

In [117]:
skips = responses['orientation.1'] == 'No answer'

In [27]:
skips.head()

1    False
2    False
3    False
4     True
5    False
Name: orientation.1, dtype: bool

In [118]:
responses.loc[skips, 'orientation.1'] = 'Other'

C:\Users\stephanie\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [119]:
responses['orientation.1'].value_counts()

Straight        1396
Gay/Bisexual     162
Other             43
Name: orientation.1, dtype: int64

In [37]:
responses['age3'].value_counts()

35 - 64      846
65 and up    622
18 - 34      133
Name: age3, dtype: int64

In [40]:
responses['region'].value_counts()

South Atlantic        299
Pacific               278
East North Central    232
Middle Atlantic       222
West South Central    154
Mountain              146
West North Central    113
New England            78
East South Central     59
Name: region, dtype: int64

In [58]:
responses['region'].unique()

array(['Middle Atlantic', 'East North Central', 'West North Central',
       'Pacific', 'South Atlantic', nan, 'New England', 'Mountain',
       'West South Central', 'East South Central'], dtype=object)

In [120]:
responses.dropna(subset =['region'], inplace = True)

C:\Users\stephanie\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Get dummies for all

In [121]:
race_dummies = pd.get_dummies(responses['race'], prefix = 'race', drop_first = True)

In [122]:
orientation_dummies = pd.get_dummies(responses['orientation.1'], prefix = 'orientation', drop_first = True)

In [123]:
age_dummies = pd.get_dummies(responses['age3'], prefix = 'age', drop_first = True)

In [124]:
region_dummies = pd.get_dummies(responses['region'], prefix = 'region', drop_first = True)

### Set up X and y values

In [125]:
X = responses.drop(['self_manly'], axis = 1)
y = responses['self_manly']

### Train-test split

### Grid search

### Deal with filling region values later

In [61]:
skips.value_counts()

False    1581
True       20
Name: region, dtype: int64

In [62]:
responses[skips]['state']

14          California
145         California
292          Tennessee
297               Ohio
317           New York
319       Pennsylvania
371         California
378         California
438      West Virginia
731            Wyoming
850           Colorado
906       Pennsylvania
1207          Delaware
1282             Texas
1346    North Carolina
1353          New York
1430           Georgia
1471        Washington
1587         Wisconsin
1612          Colorado
Name: state, dtype: object

In [75]:
wnc = responses['region'] == 'West North Central'
wnc_region = responses[wnc]['state'].unique()

In [76]:
ne = responses['region'] == 'New England'
ne_region = responses[ne]['state'].unique()

In [77]:
mount = responses['region'] == 'Mountain'
mount_region = responses[mount]['state'].unique()

In [78]:
wsc = responses['region'] == 'West South Central'
wsc_region = responses[wsc]['state'].unique()

In [79]:
esc = responses['region'] == 'East South Central'
esc_region = responses[esc]['state'].unique()

In [80]:
pac = responses['region'] == 'Pacific'
pac_region= responses[pac]['state'].unique()

In [83]:
mid = responses['region'] == 'Middle Atlantic'
mid_region = responses[mid]['state'].unique()

In [84]:
s_at = responses['region'] == 'South Atlantic'
s_at_region = responses[s_at]['state'].unique()

In [85]:
enc = responses['region'] == 'East North Central'
enc_region = responses[enc]['state'].unique()

In [88]:
region_dict = {'wnc':wnc_region,
              'ne':ne_region,
              'mount': mount_region,
              'wsc': wsc_region,
              'esc': esc_region,
              'pac': pac_region,
              'mid': mid_region,
              's_at': s_at_region,
              'enc': enc_region}

In [1]:


columns = ['a', 'b', 'c', 'd', 'e']
data = np.arange(20).reshape(5, 4) % 2
data[2, 1] = 0
df = pd.DataFrame(columns=columns, data=data)
df['d'] = None

In [2]:
df

   a  b  c     d
0  0  1  0  None
1  1  0  1  None
2  0  0  0  None

In [3]:
df['d'] = any(df.loc[:, ['a', 'b', 'c']])

In [4]:
df['d']

0    True
1    True
2    True
Name: d, dtype: bool

In [5]:
df['d'] = df.loc[:, ['a', 'b', 'c']].sum(axis=1) > 0

In [6]:
columns = ['a', 'b', 'c']
data = np.arange(9).reshape(3, 3) % 2
data[2, 1] = 0
df = pd.DataFrame(columns=columns, data=data)

In [7]:
df

   a  b  c
0  0  1  0
1  1  0  1
2  0  0  0

In [8]:
df['d'] = df.loc[:, ['a', 'b', 'c']].sum(axis=1) > 0

In [9]:
df

   a  b  c      d
0  0  1  0   True
1  1  0  1   True
2  0  0  0  False

In [21]:
df = pd.DataFrame(np.array([['father', 'mother', 'friends', 'pop'], 
                            ['not selected', 'not selected', 'not selected', 'not selected'], 
                            ['father', 'not selected', 'not selected', 'pop'], 
                            ['father', 'not selected', 'friends', 'not selected']]), columns = ['source_father', 'source_mother', 'source_friends', 'source_pop'])

In [22]:
df

  source_father source_mother source_friends    source_pop
0        father        mother        friends           pop
1  not selected  not selected   not selected  not selected
2        father  not selected   not selected           pop
3        father  not selected        friends  not selected

In [24]:
df['source_father']

0          father
1    not selected
2          father
3          father
Name: source_father, dtype: object

In [25]:
df['source_father'][1]

'not selected'

In [17]:
cols = ['source_father', 'source_mother', 'source_friends', 'source_pop']

In [9]:
df[cols].map({'not_selected': 0})

AttributeError: 'DataFrame' object has no attribute 'map'

In [18]:
for col in cols:
    df[col] = df[col].map({'not selected': 0})

In [19]:
df

   source_father  source_mother  source_friends  source_pop
0            NaN            NaN             NaN         NaN
1            0.0            0.0             0.0         0.0
2            NaN            0.0             0.0         NaN
3            NaN            0.0             NaN         0.0

In [20]:
df[cols].fillna(1)

   source_father  source_mother  source_friends  source_pop
0            1.0            1.0             1.0         1.0
1            0.0            0.0             0.0         0.0
2            1.0            0.0             0.0         1.0
3            1.0            0.0             1.0         0.0